psutil==7.2.2
pycaw==20251023
comtypes==1.4.16
edge-tts==7.2.8
sounddevice==0.5.6
numpy==2.3.5
faster-whisper==1.2.1
pypdf==6.16.2
cryptography==50.0.1
pypdfium2==5.13.0
rapidocr-onnxruntime==1.2.3
jsonschema==4.26.0
